<!-- @format -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="description" content="Alief personal website" />
    <meta name="author" content="Alief Aditya Nugraha" />
    <title><%= title %> | Personal Blog</title>
    <link
      rel="shortcut icon"
      type="image/jpg"
      href="/public/img/planning.ico"
    />
    <link rel="stylesheet" href="/public/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/public/css/unicons.css" />
    <link rel="stylesheet" href="/public/css/owl.carousel.min.css" />
    <link rel="stylesheet" href="/public/css/owl.theme.default.min.css" />
    <link rel="stylesheet" href="/public/css/tooplate-style.css" />
  </head>

  <body>
    <!-- MENU -->
    <nav class="navbar navbar-expand-sm navbar-light p-3">
      <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
          <img
            src="/public/img/planning.ico"
            alt="Logo"
            width="45"
            height="45"
            class="d-inline-block align-text-top"
          />
          <h3 class="px-4">ALIEF</h3>
        </a>
        <div class="collapse navbar-collapse">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link" href="#">Issues</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Marketplace</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Explore</a>
            </li>
          </ul>
          <ul class="navbar-nav ml-lg-auto px-4">
            <div class="ml-lg-4">
              <div
                class="color-mode d-lg-flex justify-content-center align-items-center"
              >
                <i class="color-mode-icon"></i>
                Color mode
              </div>
            </div>
          </ul>
        </div>

        <!-- dropdown -->
        <link rel="stylesheet" href="/public/css/dropdown.css" />
        <div class="select-menu">
          <div class="select-btn">
            <img
              src="https://png.pngtree.com/png-clipart/20190520/original/pngtree-vector-users-icon-png-image_4144740.jpg"
              alt="profile"
              class="profile"
            />
          </div>
          <div class="auth" id="auth"></div>
        </div>
        <script>
          const optionMenu = document.querySelector(".select-menu"),
            selectBtn = optionMenu.querySelector(".select-btn"),
            options = optionMenu.querySelectorAll(".option"),
            sBtn_text = optionMenu.querySelector(".sBtn-text");

          selectBtn.addEventListener("click", () =>
            optionMenu.classList.toggle("active")
          );

          options.forEach((option) => {
            option.addEventListener("click", () => {
              let selectedOption =
                option.querySelector(".option-text").innerText;
              sBtn_text.innerText = selectedOption;

              optionMenu.classList.remove("active");
            });
          });
        </script>
        <!-- dropdown end -->
      </div>
    </nav>

    <%- body %>

    <!-- FOOTER -->
    <footer class="footer py-5">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-12">
            <p class="copyright-text text-center">
              Copyright &copy; 2023 Alief Aditya . All rights reserved
            </p>
            <p class="copyright-text text-center">
              Designed by
              <a rel="nofollow" href="https://www.instagram.com/aliefaditya.n"
                >Alief Aditya</a
              >
            </p>
          </div>
        </div>
      </div>
    </footer>

    <script src="/public/js/jquery-3.3.1.min.js"></script>
    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/Headroom.js"></script>
    <script src="/public/js/jQuery.headroom.js"></script>
    <script src="/public/js/owl.carousel.min.js"></script>
    <script src="/public/js/smoothscroll.js"></script>
    <script src="/public/js/custom.js"></script>
    <!-- script ajax menu -->
    <script src="/public/js/ajax.js"></script>
  </body>
</html>
