<!-- @format -->
<link rel="stylesheet" href="/public/css/insert.css" />
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <div class="formbold-form-title">
      <h3>All Categories</h3>
      <br />
      <% category.forEach(e => { %>
      <div class="alert">
        <span
          class="closebtn"
          onclick="this.parentElement.style.display='none';"
          >&times;</span
        >
        <%= e.category %>
      </div>
      <style>
        .alert {
          padding: 15px 20px;
          background-color: #7536f4;
          color: white;
          margin-bottom: 15px;
          border-radius: 10px;
        }
        .closebtn {
          margin-left: 15px;
          color: white;
          font-weight: bold;
          float: right;
          font-size: 22px;
          line-height: 20px;
          cursor: pointer;
          transition: 0.3s;
        }
        .closebtn:hover {
          color: black;
        }
      </style>
      <% }) %>
    </div>
    <br />
    <h3>Add Categories</h3>
    <br />
    <form action="/insert-category" method="POST">
      <div>
        <label for="Category" class="formbold-form-label">Category</label>
        <input
          type="text"
          name="category"
          id="category"
          placeholder="Enter your category"
          class="formbold-form-input"
          required
        />
      </div>
      <br />
      <div>
        <label for="description" class="formbold-form-label">Description</label>
        <textarea
          rows="6"
          name="description"
          id="description"
          placeholder="Type your description"
          class="formbold-form-input"
          required
        ></textarea>
      </div>
      <br />
      <button class="formbold-btn">Add Category</button>
    </form>
  </div>
</div>
