<!-- @format -->
<link rel="stylesheet" href="/public/css/insert.css" />
<div class="formbold-main-wrapper">
  <div class="formbold-form-wrapper">
    <form action="/insert-post" method="POST">
      <div class="formbold-steps">
        <ul>
          <li class="formbold-step-menu1 active">
            <span>1</span>
            Details
          </li>
          <li class="formbold-step-menu2">
            <span>2</span>
            Atribute
          </li>
          <li class="formbold-step-menu3">
            <span>3</span>
            Confirm
          </li>
        </ul>
      </div>

      <!-- Step 1 -->
      <div class="formbold-form-step-1 active">
        <div>
          <label for="title" class="formbold-form-label"> Title </label>
          <input
            type="text"
            name="title"
            id="title"
            placeholder="Title of your post"
            class="formbold-form-input"
            required
          />
        </div>
        <br />
        <div class="formbold-input-flex">
          <div>
            <label for="category" class="formbold-form-label"> Category </label>
            <select
              name="category"
              id="category"
              class="formbold-form-input"
              required
            >
              <% category.forEach(e => { %>
              <option value="<%= e.category %>"><%= e.category %></option>
              <% }) %>
            </select>
          </div>
          <div>
            <label for="author" class="formbold-form-label"> Author </label>
            <input
              type="text"
              name="author"
              placeholder="Alief Aditya Nugraha"
              id="author"
              class="formbold-form-input"
              value="Alief Aditya Nugraha"
              required
              readonly
            />
          </div>
        </div>

        <div>
          <label for="img-address" class="formbold-form-label"
            >Image Address</label
          >
          <input
            type="url"
            name="img"
            id="address"
            placeholder="https://"
            class="formbold-form-input"
            required
          />
        </div>
        <br />
        <div>
          <label for="content" class="formbold-form-label">Content</label>
          <textarea
            rows="6"
            name="content"
            id="content"
            placeholder="Type your content"
            class="formbold-form-input"
            required
          ></textarea>
        </div>
      </div>

      <!-- Step 2 -->
      <div class="formbold-form-step-2">
        <div>
          <label for="message" class="formbold-form-label"> Message </label>
          <textarea
            rows="6"
            name="message"
            id="message"
            placeholder="Type your message"
            class="formbold-form-input"
          ></textarea>
        </div>
      </div>

      <!-- Step 3 -->
      <div class="formbold-form-step-3">
        <div class="formbold-form-confirm">
          <p>
            This post wil be save and go to public. Please check again before
            you public tihi post
          </p>

          <!-- <div>
            <button class="formbold-confirm-btn active">
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11"
                  cy="11"
                  r="10.5"
                  fill="white"
                  stroke="#DDE3EC"
                />
                <g clip-path="url(#clip0_1667_1314)">
                  <path
                    d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                    fill="#536387"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1667_1314">
                    <rect
                      width="14"
                      height="14"
                      fill="white"
                      transform="translate(4 4)"
                    />
                  </clipPath>
                </defs>
              </svg>
              Yes! I want it.
            </button>

            <button class="formbold-confirm-btn">
              <svg
                width="22"
                height="22"
                viewBox="0 0 22 22"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <circle
                  cx="11"
                  cy="11"
                  r="10.5"
                  fill="white"
                  stroke="#DDE3EC"
                />
                <g clip-path="url(#clip0_1667_1314)">
                  <path
                    d="M9.83343 12.8509L15.1954 7.48828L16.0208 8.31311L9.83343 14.5005L6.12109 10.7882L6.94593 9.96336L9.83343 12.8509Z"
                    fill="#536387"
                  />
                </g>
                <defs>
                  <clipPath id="clip0_1667_1314">
                    <rect
                      width="14"
                      height="14"
                      fill="white"
                      transform="translate(4 4)"
                    />
                  </clipPath>
                </defs>
              </svg>
              No! I don’t want it.
            </button>
          </div> -->
        </div>
      </div>

      <div class="formbold-form-btn-wrapper">
        <button class="formbold-back-btn">Back</button>

        <button class="formbold-btn" type="submit">
          Next Step
          <svg
            width="16"
            height="16"
            viewBox="0 0 16 16"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g clip-path="url(#clip0_1675_1807)">
              <path
                d="M10.7814 7.33312L7.20541 3.75712L8.14808 2.81445L13.3334 7.99979L8.14808 13.1851L7.20541 12.2425L10.7814 8.66645H2.66675V7.33312H10.7814Z"
                fill="white"
              />
            </g>
            <defs>
              <clipPath id="clip0_1675_1807">
                <rect width="16" height="16" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </button>
      </div>
    </form>
  </div>
</div>
<script>
  const stepMenuOne = document.querySelector(".formbold-step-menu1");
  const stepMenuTwo = document.querySelector(".formbold-step-menu2");
  const stepMenuThree = document.querySelector(".formbold-step-menu3");

  const stepOne = document.querySelector(".formbold-form-step-1");
  const stepTwo = document.querySelector(".formbold-form-step-2");
  const stepThree = document.querySelector(".formbold-form-step-3");

  const formSubmitBtn = document.querySelector(".formbold-btn");
  const formBackBtn = document.querySelector(".formbold-back-btn");

  formSubmitBtn.addEventListener("click", function (event) {
    event.preventDefault();
    if (stepMenuOne.className == "formbold-step-menu1 active") {
      event.preventDefault();

      stepMenuOne.classList.remove("active");
      stepMenuTwo.classList.add("active");

      stepOne.classList.remove("active");
      stepTwo.classList.add("active");

      formBackBtn.classList.add("active");
      formBackBtn.addEventListener("click", function (event) {
        event.preventDefault();

        stepMenuOne.classList.add("active");
        stepMenuTwo.classList.remove("active");

        stepOne.classList.add("active");
        stepTwo.classList.remove("active");

        formBackBtn.classList.remove("active");
      });
    } else if (stepMenuTwo.className == "formbold-step-menu2 active") {
      event.preventDefault();

      stepMenuTwo.classList.remove("active");
      stepMenuThree.classList.add("active");

      stepTwo.classList.remove("active");
      stepThree.classList.add("active");

      formBackBtn.classList.remove("active");
      formSubmitBtn.textContent = "Submit";
    } else if (stepMenuThree.className == "formbold-step-menu3 active") {
      document.querySelector("form").submit();
    }
  });
</script>
