<!-- @format -->
<link rel="stylesheet" href="/public/css/signup.css" />
<div class="formbold-form-wrapper">
  <form action="/auth/get-reset-password" method="POST">
    <br />
    <div class="formbold-form-title">
      <h2 class="text-center">Get Reset Link</h2>
      <p><%= message %></p>
    </div>

    <div class="formbold-mb-3">
      <label for="email" class="formbold-form-label"> Enter Your Email </label>
      <input
        type="email"
        name="email"
        id="email"
        class="formbold-form-input"
        required
      />
    </div>
    <div class="text-center">
      Back to <a href="/" class="decoration-none">Home</a> or
      <a href="/auth/signup" class="decoration-none">Sign Up</a>
    </div>

    <button class="formbold-btn">Send</button>
  </form>
</div>
<style>
  body {
    background-image: url("https://plus.unsplash.com/premium_photo-1692642577323-3fa92577e035?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2029&q=80");
    background-size: cover;
  }
</style>
