/** @format */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 200px;
  transition: 0.5s ease;
}
header .brand {
  color: #fff;
  font-size: 1.5em;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}
header .navigation {
  position: relative;
}
header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}
header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 2px;
  bottom: 0;
  left: 0;
}
header .navigation .navigation-items a:hover:before {
  width: 100%;
}
section {
  padding: 20px 200px;
}
.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #2696e9;
}
.home video {
  z-index: 000;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.video-slide {
  position: absolute;
  width: 100%;
  transition: 2s ease;
  clip-path: circle(0% at 50%);
}
.video-slide.active {
  clip-path: circle(150% at 50%);
  transition: 2s ease;
  transition-property: clip-path;
}
.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(80px);
  margin-bottom: 12px;
}
.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}
.slider-navigation .nav-btn.active {
  background: #2696e9;
}
.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}
.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}
.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  background: rgba(3, 96, 251, 0.3);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.home .content {
  z-index: 888;
  color: #fff;
  width: 70%;
  margin-top: 50px;
  display: none;
}
.home .content.active {
  display: block;
}
.home .content h1 {
  font-size: 4em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 5px;
  line-height: 75px;
  margin-bottom: 40px;
  transition: 2s ease;
}
.home .content h1 span {
  font-size: 1.2em;
  font-weight: 600;
}
.home .content p {
  margin-bottom: 65px;
}
.home .content a {
  background: #fff;
  padding: 15px 35px;
  color: #1680ac;
  font-size: 1.1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 50px;
}
.home .media-icons {
  z-index: 888;
  position: absolute;
  right: 30px;
  display: flex;
  flex-direction: column;
  transition: 0.5 ease;
}
.home .media-icons a {
  color: #fff;
  font-size: 1.6em;
}
.home .media-icons a:not(:last-child) {
  margin-bottom: 20px;
}
.home .media-icons a:hover {
  transform: scale(1.1);
}
.about {
  grid-template-columns: repeat(2, 1fr);
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  gap: 1rem;
}
.cards {
  max-width: 100%;
  margin: 0 auto;
  display: grid;
  grid-gap: 5px;
}
.card {
  color: white;
  padding: 10px;
  height: auto;
}
.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.card h3,
.card p {
  color: #000;
}
.card h3 {
  padding: 10px 0px;
}
.heading-title {
  padding: 20px;
}
.heading-title h1 {
  text-align: center;
  font-weight: 600;
}
.about_ {
  padding: 10px;
}
.about_ {
  display: flex;
  align-items: center;
}
.about_ img {
  width: 100%;
  border-radius: 10px;
}
footer p {
  text-align: center;
  padding: 20px;
}
footer hr {
  opacity: 0.8;
}

@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 20px 20px;
  }
  .home .media-icons {
    right: 15px;
  }
  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }
  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }
  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }
  header .navigation.active .navigation-items {
    background-color: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1/20%);
  }
  .home .content h1 {
    font-size: 5em;
    font-weight: 900;
    margin-bottom: 10px;
  }
  .home .content h1 span {
    font-size: 0.9em;
    font-weight: 500;
  }
  .home .content p {
    margin-bottom: 50px;
    font-size: 0.9em;
  }
  .home .content a {
    font-size: 0.9em;
    font-weight: 400;
  }
  .menu-btn {
    background: url(menu.png) no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(close.png) no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
  @media (max-width: 600px) {
    .home .content h1 {
      font-size: 2.8em;
      margin-bottom: 0px;
    }
    .home .content h1 span {
      font-size: 0.9em;
      font-weight: 500;
    }
    .home .content p {
      margin-bottom: 65px;
      font-size: 0.8em;
    }
    .home .content a {
      font-size: 0.8em;
      font-weight: 400;
    }
    .about {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
